data/odd/shelley-godwin.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="brown_odds.isosch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<?xml-model href="brown_odds.rnc" type="application/relax-ng-compact-syntax"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:ge="http://www.tei-c.org/ns/geneticEditions">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Shelley Godwin Archive Customization</title>
        <author>Trevor Muñoz</author>
      </titleStmt>
      <publicationStmt>
        <distributor>Shelley Godwin Archive (via website)</distributor>
        <address>
          <addrLine>mith@umd.edu</addrLine>
        </address>
        <date when="2011-10-17">October 17, 2011</date>
        <availability status="restricted">
          <p>This work is copyright Trevor Muñoz and Maryland Institute for Technology in the
            Humanities and licensed under a <ref
              target="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0
              Unported License</ref>.</p>
        </availability>
        <pubPlace>College Park, MD USA</pubPlace>
      </publicationStmt>
      <sourceDesc>
        <p>Based on <name type="file">geneticTEI.xml</name>, which can be found <ref
            target="http://tei.svn.sourceforge.net/viewvc/tei/trunk/P5/">Sourceforge</ref>.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change who="tmunoz" when="2011-10-16">First draft</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Rationale</head>
        <p>To be added</p>
      </div>
      <div>
        <head>Shelley Godwin ODD</head>
        <p>The prefix in this schema stands for <expan>Shelley Godwin Archive</expan>, the project
          for which this customization was developed.</p>
        <schemaSpec ident="shelley_godwin_odd" prefix="sga_" start="TEI">

          <!-- Required modules -->
          <moduleRef key="tei"/>
          <moduleRef key="header"/>
          <moduleRef key="core"/>
          <moduleRef key="textstructure"/>

          <!-- Additional modules following genetic editing ODD -->
          <moduleRef key="certainty"/>
          <moduleRef key="analysis"/>
          <moduleRef key="linking"/>
          <moduleRef key="msdescription"/>
          <moduleRef key="transcr"/>
          <moduleRef key="textcrit"/>
          <moduleRef key="namesdates"/>
          <moduleRef key="drama"/>

          <!-- Modifications to zone to allow documentary elements (from geneticTEI.xml) -->
          <classSpec ident="model.zonePart" type="model" mode="add">
            <desc>elements which can form part of a zone</desc>
          </classSpec>
          <classSpec ident="model.linePart" type="model" mode="add">
            <desc>elements which can form part of a line</desc>
          </classSpec>
          
          <classSpec ident="att.staged" type="atts" mode="add" module="tei">
            <desc>groups elements which can be assigned to a specific text stage by means of
              the attributes it provides.</desc>
            <attList>
              <attDef ident="stage" mode="add">
                <desc>points to one or more <gi>stageNote</gi> elements which contain a
                  description of a text-stage to which the editors think the alteration/
                  text passage marked by the element bearing this attribute (and its
                  children) belongs.</desc>
                <datatype minOccurs="1" maxOccurs="unbounded">
                  <rng:ref name="data.pointer"/>
                </datatype>
              </attDef>
            </attList>
          </classSpec>
          <classSpec type="atts" ident="att.global" mode="change" module="tei">
            <classes mode="change">
              <memberOf key="att.global.linking"/>
              <memberOf key="att.global.analytic"/>
              <memberOf key="att.global.facs"/>
              <memberOf key="att.staged" mode="add"/>
            </classes>
          </classSpec>

          <!-- Documentary elements (from geneticTEI.xml) -->
          <elementSpec ident="document" ns="http://www.tei-c.org/ns/geneticEditions" mode="add">
            <desc>contains a document-centric transcription of a primary source, providing
              topographical information as well as transcription</desc>
            <classes mode="change">
              <memberOf key="model.resourceLike"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:oneOrMore>
                <rng:ref name="surface"/>
                <rng:zeroOrMore>
                  <rng:ref name="model.global.edit"/>
                </rng:zeroOrMore>
              </rng:oneOrMore>
            </content>
          </elementSpec>
          <elementSpec ident="surface" module="transcr" mode="change">
            <classes mode="change">
              <memberOf key="att.typed" mode="add"/>
            </classes>
            <content>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="model.global"/>
                  <rng:ref name="model.glossLike"/>
                  <rng:ref name="model.graphicLike"/>
                  <rng:ref name="zone"/>
                  <rng:ref name="patch"/>
                </rng:choice>
              </rng:zeroOrMore>
            </content>
          </elementSpec>
          <elementSpec ident="zone" module="transcr" mode="change">
            <classes mode="change">
              <memberOf key="att.coordinated" mode="add"/>
              <memberOf key="model.zonePart" mode="add"/>
            </classes>
            <content>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:text/>
                  <rng:ref name="model.zonePart"/>
                  <rng:ref name="model.global"/>
                </rng:choice>
              </rng:zeroOrMore>
            </content>
            <attList>
              <attDef ident="rotate" mode="add">
                <desc>indicates the amount by which this zone has been rotated clockwise,
                  with respect to the normal orientation of the parent <gi>surface</gi>
                  element as implied by the dimensions given in the <gi>msDesc</gi> section
                  or by the coordinates of the <gi>surface</gi> itself. The orientation is
                  expressed in arc degrees.</desc>
                <datatype minOccurs="1" maxOccurs="1">
                  <rng:ref name="data.count"/>
                </datatype>
                <defaultVal>0</defaultVal>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="line" ns="http://www.tei-c.org/ns/geneticEditions" mode="add">
            <desc>contains the transcription of a topographic line in the source
              document</desc>
            <classes mode="change">
              <memberOf key="model.zonePart"/>
              <memberOf key="att.typed"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:text/>
                  <rng:ref name="model.global"/>
                  <rng:ref name="model.linePart"/>
                </rng:choice>
              </rng:zeroOrMore>
            </content>
          </elementSpec>
          <elementSpec module="transcr" ident="creation" mode="change">
            <content>
              <rng:ref name="macro.phraseSeq.limited"/>
              <rng:optional>
                <rng:ref name="stageNotes"/>
              </rng:optional>
            </content>
          </elementSpec>
          <elementSpec ident="stageNotes" ns="http://www.tei-c.org/ns/geneticEditions"
            mode="add">
            <desc>contains one or more descriptions of the stages which have been identified
              in the genesis of a text.</desc>
            <classes mode="change">
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
            </classes>
            <content>
              <rng:oneOrMore>
                <rng:choice>
                  <rng:ref name="stageNotes"/>
                  <rng:ref name="stageNote"/>
                </rng:choice>
              </rng:oneOrMore>
            </content>
            <attList>
              <attDef ident="ordered" mode="add">
                <desc>indicates whether or not the order in which
                  the children of this element are presented is significant</desc>
                <datatype>
                  <ref xmlns="http://relaxng.org/ns/structure/1.0" name="data.truthValue"/>
                </datatype>
                <defaultVal>true</defaultVal>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="stageNote" ns="http://www.tei-c.org/ns/geneticEditions"
            mode="add">
            <desc>documents a particular stage in the genesis of a text.</desc>
            <classes mode="change">
              <memberOf key="att.datable"/>
              <memberOf key="att.editLike"/>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
            </classes>
            <content>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="macro.specialPara"/>
                  <rng:ref name="stageNote"/>
                </rng:choice>
              </rng:zeroOrMore>
            </content>
            <attList>
              <attDef ident="target" mode="add">
                <desc>points to one or more elements that belong to this stage.</desc>
                <datatype minOccurs="1" maxOccurs="unbounded">
                  <rng:ref name="data.pointer"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
