data/odd/shelley-godwin-page.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="../derivatives/brown_odds.isosch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0"
    xmlns:sch="http://purl.oclc.org/dsdl/schematron">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Encoding Guidelines</title>
                <author>
                    <persName xml:id="tmunoz">Trevor Mu&#241;oz</persName>
                </author>
            </titleStmt>
            <publicationStmt>
                <distributor>The Maryland Institute for Technology in the Humanites
                    (MITH)</distributor>
                <address>
                    <addrLine>mith@umd.edu</addrLine>
                </address>
                <date when="2012-02-10">February 10, 2012</date>
                <availability status="restricted">
                    <p>This work is copyright Trevor Mu&#241;oz and Maryland Institute for
                        Technology in the Humanities and licensed under a <ref
                            target="http://creativecommons.org/licenses/by/3.0/">Creative Commons
                            Attribution 3.0 Unported License</ref>.</p>
                </availability>
                <pubPlace>College Park, MD USA</pubPlace>
            </publicationStmt>
            <sourceDesc>
                <p>Born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2012-02-08" who="tmunoz">Created this separate ODD to govern page-level
                markup</change>
            <change when="2012-02-12" who="tmunoz">Began adding prose documentation about
                workflow</change>
            <change when="2012-02-14" who="tmunoz">Finished section on workflow</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <front>
            <divGen type="toc"/>
        </front>
        <body>
            <div xml:id="intro">
                <head type="section">General Introduction</head>
                <p>Coming soon.</p>
            </div>
            <div xml:id="git-workflow">
                <head type="section">Project mechanics: using version control</head>
                <p>The Shelley-Godwin Archive (SGA) uses the <ref
                        target="http://en.wikipedia.org/wiki/Git_(software)">Git</ref> version
                    control system to manage all files associated with transcriptions created for
                    the project. Since SGA is using Git, we also use <ref
                        target="https://github.com/">Github</ref>, a hosted service for Git projects
                    which incorporates many useful project management features, to manage the
                    transcription and encoding workflow. The rest of this section briefly describes
                    how to use Git and Github to prepare transcriptions for the Archive.</p>

                <p>You will need: a web browser, the <term>oXygen</term> XML editor, and a Terminal
                    window or Git client (e.g., <term>Github for Mac</term>)</p>

                <list>
                    <head><hi rend="bold">In a web browser</hi> ...</head>
                    <item>Visit the Github page for the Shelley-Godwin Archive data and navigate to
                        the <ref target="../assets/img/issues_tab.png">Issues tab</ref>.</item>
                    <item>Select an open issue from the list to work on. Each ticket represents a
                        page to be transcribed.</item>
                    <item>Assign the issue to yourself using the <ref
                            target="../assets/img/assignment_menu.png">small gear icon below the
                            issue title</ref>. Add a comment to the issue to indicate when you
                        started working. For example <q>Started transcription on 2012-02-13.</q>
                        (Using machine readable dates is a nice convenience for us scanning the logs
                        so please try to remember to use them.)</item>
                    <item>The issue ticket has a link to the page image you can use for
                        transcription and to the stub TEI file for that page image that has already
                        been created.</item>
                    <item>You may want to open the page image in a browser window but don't open the
                        TEI file yet.</item>
                    <item>Exception: if the page image contains no text at all (e.g., it's an image
                        of the cover, or a completely blank page) then you can edit the TEI file
                        right in the web interface using the <q>Edit this file</q> button. All you
                        need to do is add a &lt;desc&gt; element describing the content, e.g. "Front
                        cover." Otherwise, follow the instructions below.</item>
                </list>

                <list>
                    <head><hi rend="bold">In a terminal session</hi> (or using a Git client—All
                        examples assume you are working on the command line) ...</head>
                    <item>Make sure you are in the top-level of the project directory in your local
                        clone of repository. Make sure you are on the <q>master</q> branch. If
                        you're not sure you can type: <code>$git branch</code>, which will display a
                        list of all the branches. There should be an asterisk next to master if
                        that's the active branch.</item>
                    <item>Create a branch to hold your work. You could name this anything you want,
                        but for convenience, name your branch with your Github username and the
                        number of the image (from the filename): e.g., <code>$git branch
                            trevormunoz&#8209;0001</code></item>
                    <item>Switch to working on the branch you just created. In Git terminology this
                        is called a <q>checkout</q>. So, <code>$git&#xa0; checkout&#xa0;
                            trevormunoz&#8209;0001</code></item>
                    <item>Making sure that you are now on the branch you created, open the TEI file
                        and transcribe what you see on the page (more on that below).</item>
                    <item/>
                </list>

                <p>As you work, please take advantage of Git as a version control system to help
                    you. You can (and should) commit frequently and even push to the remote copy of
                    your branch. This is akin to saving your work.</p>

                <list>
                    <head><hi rend="bold">When you've completed your transcription of a file</hi>
                        ...</head>
                    <item>Make sure you have committed and pushed the last of your changes to the
                        file on your branch. Note: to push to your branch, you will need to modify
                        the command: e.g.,
                            <code>$git&#xa0;push&#xa0;origin&#xa0;trevormunoz&#8209;0001</code>
                        instead of <code>$git&#xa0;push&#xa0;origin&#xa0;master</code>.</item>
                    <item>Using your browser, return to the Shelley-Godwin Archive Github page.
                        Select your branch from <ref target="../assets/img/branches_menu.png">the
                            dropdown menu</ref> (this is like doing a checkout in the graphical user
                        interface).</item>
                    <item>Issue a pull request by clicking on <ref
                            target="../assets/img/pull_request.png">pull request button</ref>. This
                        will take you to a new page where you can fill in more information about the
                        request. You'll see that your last commit message is already pre-populated
                        as the subject line. Clean up the message if necessary and add any
                        additional details or questions. Click submit.</item>
                    <item>You're done! Someone from the editorial team will review your
                        transcriptions, merge your branch back into the master, and close the
                        relevant issue.</item>
                    <item>Once you've received a message indicating that your transcription has been
                        merged and the relevant issue closed, you will need to do a little cleanup
                        in your local copy of the repository. Specifically you will need to delete
                        the branch you made above. To do this, you will need to be on the master
                        branch. Then make sure your copy is up-to-date by issuing:
                            <code>$git&#xa0;pull</code>. Finally, delete the branch both locally and
                        in the remote copy of the repository:
                            <code>$git&#xa0;branch&#xa0;-d&#xa0;trevormunoz&#8209;0001</code> (this
                        takes care of your local version), then
                            <code>$git&#xa0;push&#xa0;origin&#xa0;&#8209;&#8209;delete&#xa0;trevormunoz&#8209;0001</code>
                    </item>
                </list>
            </div>

            <div xml:id="spec">
                <head>Technical documentation</head>
                <p>The customization for page-level markup specified herein is provided for the
                    convenience of Shelley-Godwin Archive project encoders. It is <hi rend="bold"
                        >NON-CONFORMANT</hi> with the TEI abstract model because the documents
                    governed by this model are fragments and are not-intended to stand alone.</p>
                <schemaSpec ident="shelley-godwin-page" prefix="sga-p" start="surface surfaceGrp">

                    <moduleRef key="tei"/>
                    <moduleRef key="core"
                        except="addrLine address analytic author biblScope biblStruct 
                        binaryObject divGen editor email gb imprint listBibl measure 
                        meeting mentioned monogr postBox postCode pubPlace publisher 
                        quote said series soCalled street teiCorpus textLang"/>
                    <moduleRef key="textstructure" except="TEI div1 div2 div3 div4 div5 div6 div7"/>

                    <!-- Additional modules -->
                    <moduleRef key="transcr"/>
                    <moduleRef key="gaiji"/>
                    <moduleRef key="linking"/>
                    <!-- included principally for the att.linking class -->
                    
                    <!-- Some specific elements to include-->
                    <elementRef key="c"/>

                    <!-- Class-level modifications -->
                    <classSpec ident="att.global" type="atts" mode="change">
                        <attList>
                            <attDef ident="xml:lang" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="xml:space" mode="delete"/>
                            <attDef ident="rendition" mode="delete"/>
                        </attList>
                    </classSpec>

                    <classSpec ident="att.global.linking" type="atts" mode="change">
                        <attList>
                            <attDef ident="synch" mode="delete"/>
                            <attDef ident="sameAs" mode="delete"/>
                            <attDef ident="copyOf" mode="delete"/>
                            <attDef ident="exclude" mode="delete"/>
                            <attDef ident="select" mode="delete"/>
                        </attList>
                    </classSpec>

                    <classSpec ident="att.coordinated.attributes" type="atts" mode="change">
                        <attList>
                            <attDef ident="start" mode="delete"/>
                        </attList>
                    </classSpec>

                    <!-- Removing entire classes; some of these might be restored later -->
                    <classSpec ident="att.global.analytic" type="atts" mode="delete"/>
                    <classSpec ident="att.global.change" type="atts" mode="delete"/>
                    <classSpec ident="att.declaring" type="atts" mode="delete"/>

                    <elementSpec ident="surface" module="transcr" mode="change">
                        <content>
                            <rng:ref name="att.global.attributes"/>
                            <rng:ref name="att.global.linking.attributes"/>
                            <rng:ref name="att.global.analytic.attributes"/>
                            <rng:ref name="att.global.facs.attributes"/>
                            <rng:ref name="att.global.change.attributes"/>
                            <rng:ref name="att.coordinated.attributes"/>
                            <rng:ref name="att.declaring.attributes"/>
                            <rng:ref name="att.typed.attributes"/>
                            <!-- Restore when we need the following attributes for Whitman integration -->
                            <!--<rng:optional>
                                <rng:attribute name="attachment">
                                    <rng:ref name="data.enumerated"/>
                                </rng:attribute>
                            </rng:optional>
                            <rng:optional>
                                <rng:attribute name="flipping">
                                    <rng:ref name="data.truthValue"/>
                                </rng:attribute>
                            </rng:optional>-->
                            <rng:group>
                                <rng:zeroOrMore>
                                    <rng:ref name="model.glossLike"/>
                                </rng:zeroOrMore>
                                <rng:oneOrMore>
                                    <rng:ref name="model.graphicLike"/>
                                </rng:oneOrMore>
                                <rng:oneOrMore>
                                    <rng:choice>
                                        <rng:ref name="zone"/>
                                        <!--<rng:ref name="surface"/>
                                        <rng:ref name="surfaceGrp"/>-->
                                        <!-- Temporarily removing the case of paste-ins, etc. -->
                                    </rng:choice>
                                </rng:oneOrMore>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                        <rng:ref name="model.global"/>
                                        <rng:ref name="line"/>
                                    </rng:choice>
                                </rng:zeroOrMore>
                            </rng:group>
                        </content>
                        <attList>
                            <attDef ident="xml:id" mode="change" usage="req"/>

                            <!-- Make the attributes to set the coordinate grid of the page required; should be automatically generated -->
                            <attDef ident="ulx" mode="change" usage="req"/>
                            <attDef ident="uly" mode="change" usage="req"/>
                            <attDef ident="lrx" mode="change" usage="req"/>
                            <attDef ident="lry" mode="change" usage="req"/>

                            <attDef ident="n" mode="change" usage="rec"/>

                            <attDef ident="corresp" mode="change">
                                <altIdent>partOf</altIdent>
                                <desc>Syntactic sugar attribute—should refer to the id of the
                                    sourceDoc element with which this surface should be
                                    associated</desc>
                            </attDef>

                            <!-- See note above re: Whitman integration -->
                            <attDef ident="attachment" mode="delete"/>
                            <attDef ident="flipping" mode="delete"/>
                        </attList>
                    </elementSpec>

                    <!-- Tightening the content model of line to remove more interpretive elements; 
                        expect this to be fixed in a future release of the Guidelines, 
                        see http://tei-l.970651.n3.nabble.com/Content-model-of-lt-line-gt-td3647279.html -->
                    <elementSpec ident="line" module="transcr" mode="change">
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text/>
                                    <rng:ref name="model.global"/>
                                    <rng:ref name="model.segLike"/>
                                    <rng:ref name="model.hiLike"/>
                                    <rng:ref name="choice"/>
                                    <rng:ref name="zone"/>
                                    <rng:ref name="line"/>
                                    <!-- What follows is only a subset of model.pPart.transcriptional -->
                                    <rng:ref name="add"/>
                                    <rng:ref name="del"/>
                                    <rng:ref name="add"/>
                                    <rng:ref name="unclear"/>
                                    <rng:ref name="damage"/>
                                    <rng:ref name="handShift"/>
                                    <rng:ref name="mod"/>
                                    <rng:ref name="retrace"/>
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <remarks>
                            <p>For the purposes of diplomatic transcriptions, the content model of
                                line has been restricted to remove more interpretive elements such
                                as &lt;sic&gt;, and &lt;reg&gt;</p>
                        </remarks>
                    </elementSpec>

                    <elementSpec ident="hi" module="core" mode="change">
                        <attList>
                            <attDef ident="rend" mode="change">
                                <valList type="closed">
                                    <valItem ident="hyphenated"/>
                                    <valItem ident="underline"/>
                                    <valItem ident="double-underline"/>
                                    <valItem ident="bold"/>
                                    <valItem ident="caps"/>
                                    <valItem ident="italic"/>
                                    <valItem ident="sup"/>
                                </valList>
                            </attDef>
                        </attList>
                        <remarks>
                            <p>Attribute values adapted from the TEI P5 specification for the ENRICH
                                project, http://enrich.manuscriptorium.com/</p>
                        </remarks>
                    </elementSpec>

                </schemaSpec>
            </div>
        </body>
    </text>
</TEI>
