data/odd/shelley-godwin-page.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="../derivatives/brown_odds.isosch" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0"
    xmlns:sch="http://purl.oclc.org/dsdl/schematron">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI customization for the Shelley-Godwin Archive page transcriptions</title>
                <author>
                    <persName xml:id="tmunoz">Trevor Muñoz</persName>
                </author>
            </titleStmt>
            <publicationStmt>
                <distributor>The Maryland Institute for Technology in the Humanites
                    (MITH)</distributor>
                <address>
                    <addrLine>mith@umd.edu</addrLine>
                </address>
                <date when="2012-02-10">February 10, 2012</date>
                <availability status="restricted">
                    <p>This work is copyright Trevor Munoz and Maryland Institute for Technology in
                        the Humanities and licensed under a <ref
                            target="http://creativecommons.org/licenses/by/3.0/">Creative Commons
                            Attribution 3.0 Unported License</ref>.</p>
                </availability>
                <pubPlace>College Park, MD USA</pubPlace>
            </publicationStmt>
            <sourceDesc>
                <p>Born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2012-02-08" who="tm">Created this separate ODD to govern page-level
                markup</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <div xml:id="rationale">
                <head>Shelley-Godwin Archive Encoding Guidelines for Document-centric Markup</head>
                <p>Coming soon.</p>
            </div>
            <div xml:id="spec">
                <head>Technical specification</head>
                <p>The prefix <abbr>sga-p</abbr> in this schema stands for <expan>Shelley-Godwin
                        Archive, page-level</expan>.</p>
                <p>The customization for page-level markup specified herein is NON-CONFORMANT with
                    the TEI abstract model because the documents governed by this model are
                    fragments and are not-intended to stand alone.</p>
                <schemaSpec ident="shelley-godwin-page" prefix="sga-p" start="surface surfaceGrp">

                    <moduleRef key="tei"/>
                    
                    <!-- non-conforming customization; not using headers so this is
                        a hacky way exclude almost all elements while still 
                        benefiting from schematron validation for the ODD-->
                    <moduleRef key="header" include="teiheader"/>
                    
                    <moduleRef key="core"
                        except="addrLine address analytic author biblScope biblStruct 
                        binaryObject divGen editor email gb imprint listBibl measure 
                        meeting mentioned monogr postBox postCode pubPlace publisher 
                        quote said series soCalled street teiCorpus textLang"/>
                    
                    <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>

                    <!-- Additional modules -->
                    <moduleRef key="transcr"/>
                    <moduleRef key="linking"/><!-- included principally for the att.linking class -->
                    
                    <!-- Class-level modifications -->
                    <classSpec type="atts" ident="att.coordinated.attributes" mode="change">
                        <attList>
                            <attDef ident="start" mode="delete"/>
                        </attList>
                    </classSpec>
                    
                    <elementSpec ident="surface" module="transcr" mode="change">
                        <content>
                            <rng:ref name="att.global.attributes"/>
                            <rng:ref name="att.global.linking.attributes"/>
                            <rng:ref name="att.global.analytic.attributes"/>
                            <rng:ref name="att.global.facs.attributes"/>
                            <rng:ref name="att.global.change.attributes"/>
                            <rng:ref name="att.coordinated.attributes"/>
                            <rng:ref name="att.declaring.attributes"/>
                            <rng:ref name="att.typed.attributes"/>
                            <!-- Restore when we need the following attributes for Whitman integration -->
                            <!--<rng:optional>
                                <rng:attribute name="attachment">
                                    <rng:ref name="data.enumerated"/>
                                </rng:attribute>
                            </rng:optional>
                            <rng:optional>
                                <rng:attribute name="flipping">
                                    <rng:ref name="data.truthValue"/>
                                </rng:attribute>
                            </rng:optional>-->
                            <rng:group>
                                <rng:zeroOrMore>
                                    <rng:ref name="model.glossLike"/>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:ref name="model.graphicLike"/>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                        <rng:ref name="model.global"/>
                                        <rng:ref name="zone"/>
                                        <rng:ref name="line"/>
                                        <rng:ref name="surface"/>
                                        <rng:ref name="surfaceGrp"/>
                                    </rng:choice>
                                </rng:zeroOrMore>
                            </rng:group>
                        </content>
                        <attList>
                            <attDef ident="xml:id" mode="change" usage="req"/>
                            <attDef ident="n" mode="change" usage="rec"/>
                            <!-- See note above re: Whitman integration -->
                            <attDef ident="attachment" mode="delete"/>
                            <attDef ident="flipping" mode="delete"/>
                        </attList>
                    </elementSpec>

                </schemaSpec>
            </div>
        </body>
    </text>
</TEI>
