data/derivatives/ns1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://sga.mith.org/ns/1.0" xmlns:ns2="http://www.tei-c.org/ns/1.0" xmlns:ns1="http://sga.mith.org/ns/1.0">
  <xs:import namespace="http://www.tei-c.org/ns/1.0" schemaLocation="shelley-godwin-master.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:attribute name="el-target"/>
  <xs:attribute name="att-target"/>
  <xs:attribute name="att-value"/>
</xs:schema>
