data/derivatives/shelley-godwin-page.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <title>ISO Schematron rules</title>
   <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
   <ns prefix="rng" uri="http://relaxng.org/ns/structure/1.0"/>
   <pattern id="ptr-constraint-ptrAtts">
      <rule context="tei:ptr">
         <report test="@target and @cRef">Only one of the
	attributes 'target' and 'cRef' may be supplied.</report>
      </rule>
   </pattern>
   <pattern id="ref-constraint-refAtts">
      <rule context="tei:ref">
         <report test="@target and @cRef">Only one of the
	attributes 'target' and 'cRef' may be supplied.</report>
      </rule>
   </pattern>
   <pattern id="relatedItem-constraint-targetorcontent1">
      <rule context="tei:relatedItem">
         <report test="@target and count( child::* ) &gt; 0">If the 'target' attribute is used, the
        relatedItem element must be empty</report>
         <assert test="@target or child::*">A relatedItem element should have either a 'target' attribute
        or a child element to indicate the related bibliographic item</assert>
      </rule>
   </pattern>
   <pattern id="addSpan-constraint-spanTo">
      <rule context="tei:addSpan">
         <assert test="@spanTo">The spanTo= attribute of <name/> is required.</assert>
      </rule>
   </pattern>
   <pattern id="damageSpan-constraint-spanTo">
      <rule context="tei:damageSpan">
         <assert test="@spanTo">The spanTo= attribute of
	<name/> is required.</assert>
      </rule>
   </pattern>
   <pattern id="delSpan-constraint-spanTo">
      <rule context="tei:delSpan">
         <assert test="@spanTo">The spanTo= attribute of <name/>
      is required.</assert>
      </rule>
   </pattern>
   <pattern id="subst-constraint-substContents1">
      <rule context="tei:subst">
         <assert test="child::add and child::del">
        Subst must have at least one child add and at least one child del</assert>
      </rule>
   </pattern>
</schema>